In [1]:
import os
import requests
import numpy as np
import pandas as pd

/Users/jaeminiman/anaconda3/envs/pytorch/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## 한국은행 Open API 서비스

#### 100대 통계지표

In [73]:
api_key = 'HLOXWJTZRBR3KCAG5JU3'

In [103]:
url = 'https://ecos.bok.or.kr/api/KeyStatisticList/HLOXWJTZRBR3KCAG5JU3/json/kr/1/101'

In [104]:
# API 호출
response = requests.get(url)

# 응답 데이터 확인
if response.status_code == 200:
    data = response.json()  # JSON 데이터를 Python 딕셔너리로 변환
    print(data)
else:
    print(f"Error: {response.status_code}, {response.text}")

{'RESULT': {'CODE': 'ERROR-602', 'MESSAGE': '과도한 OpenAPI호출 (3분간 300회 이상)로 이용이 제한되었습니다. 30분 후 이용해주시기 바랍니다.'}}

In [28]:
keystat_df = pd.DataFrame(data['KeyStatisticList']['row'])

In [29]:
keystat_df.head(3)

  CLASS_NAME  KEYSTAT_NAME DATA_VALUE     CYCLE UNIT_NAME
0       시장금리     한국은행 기준금리          3  20250102        %
1       시장금리      콜금리(익일물)      3.029  20250102        %
2       시장금리  KORIBOR(3개월)       3.27  20250103        %

In [32]:
keystat_df.describe(include='object')

       CLASS_NAME KEYSTAT_NAME DATA_VALUE   CYCLE UNIT_NAME
count         101          101        100     100        95
unique         28          101        100       9        18
top          시장금리    한국은행 기준금리          3  202411        %
freq            8            1          1      39        27

In [33]:
keystat_df['CLASS_NAME'].value_counts()

CLASS_NAME
시장금리          8
생산            7
투자            7
국제수지          5
성장률           5
소비자/생산자 물가    4
통관수출입         4
고용            4
심리지표          4
주식            4
예금/대출금        4
통화량           4
환율            4
노동            3
부동산 가격        3
대외채권/채무       3
인구            3
GDP대비 비율      3
기업경영지표        3
소비            3
소득            2
소득분배지표        2
가계            2
여수신금리         2
경기순환지표        2
채권            2
수출입 물가        2
국제원자재가격       2
Name: count, dtype: int64

In [34]:
keystat_df[keystat_df['CLASS_NAME']=='시장금리']

  CLASS_NAME    KEYSTAT_NAME DATA_VALUE     CYCLE UNIT_NAME
0       시장금리       한국은행 기준금리          3  20250102        %
1       시장금리        콜금리(익일물)      3.029  20250102        %
2       시장금리    KORIBOR(3개월)       3.27  20250103        %
3       시장금리      CD수익률(91일)       3.15  20250103        %
4       시장금리   통안증권수익률(364일)      2.646  20250103        %
5       시장금리      국고채수익률(3년)      2.482  20250103        %
6       시장금리      국고채수익률(5년)      2.643  20250103        %
7       시장금리  회사채수익률(3년,AA-)       3.17  20250103        %

In [35]:
keystat_df.to_csv('keystat.csv')

### 주요 경제 지표 선정

1. 경제성장률 (251Y003/A/NS1D)
- GDP의 연간 증가율 
2. GDP (200Y102/Q/10111)
- 국내총생산 
3. 소비자물가지수 (901Y009/A,M,Q/0=2022)
- 가정이 소비하기 위해 구입하는 재화와 용역의 평균 가격을 측정한 지수다
4. 실업률 (901Y027/A,M,Q/I61BB/천명)
- 근로능력이 있는 사람 중 조사 대상 주간을 포함한 지난 4주간 적극적으로 구직활동을 했으나 일자리를 찾지 못한 사람의 비율
5. 환율 (731Y001/D/0000001/원)
- 달러-원 환율
6. M2 통화량 (101Y004/A,M,Q/BBHA00~15/십억원)
- M1(본원통화(지폐+동전) + 은행 예금, 수표) + 만기 2년미만 금융상품
7. 경상수지 (301Y017/M/SA000/백만달러)
- 국가 간 거래에서 재화와 서비스의 거래, 생산 요소 거래 등으로 '수취한 외화'와 '지급한 외화'의 차액
8. 코스피지수 (802Y001/D/0001000/1980.01.04=100)
- 코스피에 상장된 주식회사의 시가총액의 특정 시점에 대한 상대값
9. 주택매매가격지수KB (901Y062/M/P63A/2022.01=100)
- 주택매매가격을 기준시점(2022.01=100.0)과 조사시점의 가격비를 이용하여 기준시점이 100인 수치로 환산한 값
10. 건설수주액 (901Y002/A,M,Q/I42A/백만원)
- 건설업체가 발주자와 체결한 공사계약의 총 금액
11. 소비자심리지수 (511Y002/M/FME)
- 소비자의 경제상황에 대한 인식과 향후 소비지출 전망 등을 설문조사해 지수화한 통계자료 (0~200, 100 이하 부정적, 100 이상 긍정적)

## 한국은행에서 제공하는 전체 통계
- 어떤게 중요한 지표인지 모르겠다. 일단 다 수집해본다.
- 도메인 지식이 없으면 무작정 덤빌 수 밖에.

In [69]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

# 크롬 드라이버 설정
chrome_options = Options()
#chrome_options.add_argument("--headless")  # 브라우저 창을 열지 않고 실행
chrome_options.add_argument("--no-sandbox")
chrome_options.add_argument("--disable-dev-shm-usage")

# 드라이버 초기화
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=chrome_options)

try:
    # 웹 페이지 열기
    url = "https://ecos.bok.or.kr/api/#/DevGuide/StatisticalCodeSearch"  # 크롤링할 URL
    driver.get(url)

    # 스크롤 후 대기
    time.sleep(3)

    # 스크롤 대상 div.rg-scrolltrack 찾기
    scroll_down = driver.find_element(By.CLASS_NAME, "rg-scroll-down")

    # 이미 찾은 mark 태그를 저장할 집합
    found_marks = set()

    # 스크롤하면서 mark 태그 찾기
    while True:
        pre_marks_num = len(found_marks) 

        for i in range(10):
            scroll_down.click()

        # 스크롤 후 대기
        time.sleep(0.2)
        
        # mark 태그 찾기
        marks = driver.find_elements(By.CSS_SELECTOR, "mark")
        for mark in marks:
            found_marks.add(mark.text)

        # 스크롤이 더 이상 움직이지 않을 경우 종료
        if pre_marks_num == len(found_marks) :
            break

    # 결과 출력
    print("Found marks:")
    for mark_text in found_marks:
        print(mark_text)

finally:
    pass

Found marks:
[901Y024][A]
[501Y011][A]
[801Y002][A,M,Q]
[501Y032][A]
[501Y057][A]
[501Y015][A]
[151Y004][A,Q]
[501Y005][A]
[131Y014][A,Q]
[501Y068][A]
[503Y039][A]
[501Y077][A]
[200Y119][A]
[200Y113][A]
[401Y018][A,M,Q]
[901Y025][A,M,Q]
[401Y016][A,M,Q]
[903Y204][A]
[281Y010][A]
[731Y004][A,M,Q,S]
[200Y154][A]
[901Y010][A,M,Q]
[603Y010][A,M,Q]
[251Y003][A]
[902Y013][A,M,Q]
[901Y015][A,M]
[511Y002][M]
[101Y016][A,M]
[501Y024][A]
[902Y014][A,M,Q]
[200Y141][Q]
[901Y062][M]
[131Y017][A,Q]
[200Y124][A,Q]
[252Y001][A,Q]
[291Y504][A]
[901Y017][A,M]
[901Y011][A,M,Q]
[200Y120][A]
[200Y104][Q]
[501Y064][A]
[901Y075][A]
[512Y013][M]
[291Y415][A]
[501Y019][A]
[602Y002][A,M,Q]
[501Y053][A]
[282Y002][A,Q]
[304Y009][A,Q,S]
[901Y072][A,M]
[291Y410][A]
[901Y084][A,M]
[281Y004][A,Q]
[131Y010][A,Q]
[503Y073][A]
[301Y015][A]
[501Y079][A]
[901Y037][M]
[283Y001][A,Q]
[200Y155][Q]
[903Y012][A]
[621Y006][A]
[200Y139][A]
[503Y001][A]
[512Y021][M]
[304Y023][A]
[501Y023][A]
[621Y015][A]
[501Y040][A]
[403Y001][A,M,Q]
[111Y001][A,M]
[304Y021][A]
[501Y080][A]
[902Y019][A]
[901Y020][A,M,Q]
[112Y001][A,M]
[404Y015][A,M,Q]
[621Y018][A]
[200Y147][A,Q]
[901Y069][A]
[291Y522][A]
[502Y004][Q]
[291Y513][A]
[501Y086][A]
[304Y022][A]
[200Y145][Q]
[501Y031][A]
[901Y039][A,M,Q]
[291Y420][A]
[271Y073][A]
[501Y043][A]
[101Y017][A,M,Q]
[903Y004][A]
[621Y010][A]
[200Y123][Q]
[503Y003][A]
[722Y001][A,D,M,Q]
[501Y051][A]
[901Y106][A]
[141Y007][A,M,Q]
[291Y524][A]
[200Y157][Q]
[901Y016][A]
[512Y019][M]
[501Y027][A]
[141Y008][A,M,Q]
[903Y006][A]
[200Y114][A]
[282Y005][A,Q]
[304Y019][A]
[301Y017][M]
[291Y517][A]
[901Y060][A,M]
[903Y011][A]
[501Y049][A]
[271Y017][A]
[311Y006][A,Q]
[291Y523][A]
[281Y012][A]
[501Y060][A]
[731Y006][A,M,Q,S]
[901Y108][A]
[501Y017][A]
[303Y003][A,M,Q,S]
[291Y413][A]
[902Y005][A,M]
[121Y007][A,M,Q]
[514Y001][Q]
[501Y028][A]
[291Y516][A]
[501Y009][A]
[602Y001][A,M,Q]
[501Y070][A]
[200Y103][Q]
[512Y002][M,Q]
[605Y012][A,M,Q]
[902Y008][A,M,Q]
[902Y020][A,M,Q]
[621Y003][A]
[101Y014][A,M,Q]
[282Y004][A,Q]
[901Y104][A,M,Q]
[901Y089][M]
[101Y018][A,M]
[901Y033][A,M,Q]
[291Y501][A]
[291Y508][A]
[501Y083][A]
[291Y423][A]
[901Y100][A,M,Q]
[200Y115][A]
[101Y007][A,M,Q]
[271Y009][A]
[104Y017][A,M,Q]
[503Y063][A]
[512Y011][M]
[601Y002][M]
[304Y014][A]
[621Y022][A]
[501Y042][A]
[200Y152][A]
[101Y009][A,M,Q]
[731Y001][D]
[501Y036][A]
[151Y003][A,M,Q]
[631Y001][A,Q,S]
[291Y514][A]
[291Y414][A]
[902Y012][A,M,Q]
[271Y014][A]
[271Y115][A]
[901Y073][A,M]
[503Y024][A]
[901Y093][M]
[151Y001][A,Q]
[281Y009][A]
[621Y012][A]
[903Y203][A]
[200Y125][Q]
[271Y122][A]
[271Y071][A]
[901Y112][A]
[621Y019][A]
[200Y127][Q]
[200Y137][A]
[503Y034][A]
[512Y008][M]
[403Y004][A,M,Q]
[501Y074][A]
[291Y422][A]
[304Y013][A]
[291Y424][A]
[501Y021][A]
[902Y011][A,Q]
[200Y117][A]
[901Y027][A,M,Q]
[901Y071][A]
[501Y037][A]
[291Y506][A]
[151Y002][A,M,Q]
[200Y144][Q]
[501Y067][A]
[512Y020][M]
[200Y108][Q]
[304Y016][A]
[501Y052][A]
[901Y058][A,M]
[902Y018][A]
[200Y111][A,Q]
[291Y511][A]
[291Y402][A]
[513Y001][M]
[402Y014][A,M,Q]
[304Y007][A,Q,S]
[200Y136][A]
[301Y016][A]
[121Y006][A,M,Q]
[281Y011][A]
[101Y001][A,M]
[141Y004][A,M,Q]
[271Y072][A]
[501Y035][A]
[901Y097][Q]
[903Y209][A]
[903Y210][A]
[291Y518][A]
[503Y006][A]
[903Y010][A]
[901Y028][A]
[200Y132][A,Q]
[901Y070][A]
[901Y102][A,Q]
[291Y507][A]
[311Y001][A,Q]
[902Y015][A,Q]
[200Y151][A]
[281Y002][A,Q]
[401Y017][A,M,Q]
[121Y010][A,M,Q]
[501Y022][A]
[903Y009][A]
[501Y003][A]
[512Y018][M]
[902Y017][A]
[200Y106][A,Q]
[105Y001][S]
[502Y002][Q]
[200Y138][A]
[501Y055][A]
[501Y020][A]
[271Y124][A]
[901Y095][M]
[621Y023][A]
[251Y002][A]
[200Y158][A,Q]
[501Y078][A]
[200Y130][A,Q]
[501Y026][A]
[503Y056][A]
[621Y005][A]
[291Y408][A]
[902Y009][A,Q]
[902Y003][A,M,Q]
[304Y020][A]
[121Y013][A,M,Q]
[902Y006][M]
[104Y016][A,M,Q]
[901Y088][A,Q]
[903Y202][A]
[303Y006][A,M,Q,S]
[104Y013][A,M,Q]
[101Y005][M]
[304Y011][A,Q,S]
[501Y007][A]
[902Y023][A,M,Q]
[604Y003][A,M,Q]
[814Y001][M,SM]
[121Y015][A,M,Q]
[501Y075][A]
[271Y123][A]
[901Y054][A,M]
[501Y058][A]
[871Y001][A,M,Q]
[200Y107][Q]
[131Y018][A,Q]
[200Y118][A]
[501Y050][A]
[621Y004][A]
[633Y001][A,Q]
[291Y502][A]
[901Y012][A,M,Q]
[131Y011][A,Q]
[200Y133][Q]
[501Y059][A]
[271Y113][A]
[291Y520][A]
[405Y007][A,M,Q]
[512Y015][M]
[282Y001][A,Q]
[901Y074][A,M]
[731Y002][D]
[901Y096][Q]
[501Y008][A]
[200Y121][A]
[311Y004][A,Q]
[200Y129][A,Q]
[501Y082][A]
[901Y035][A,M,Q]
[131Y013][A,Q]
[271Y125][A]
[514Y003][Q]
[903Y206][A]
[291Y407][A]
[271Y126][A]
[501Y061][A]
[402Y015][A,M,Q]
[901Y018][A,M,Q]
[291Y418][A]
[501Y004][A]
[721Y001][A,M,Q]
[731Y005][A,M,Q,S]
[501Y018][A]
[111Y004][A,M,Q]
[901Y081][A]
[501Y029][A]
[901Y064][M,Q]
[901Y014][A,M]
[291Y403][A]
[903Y003][A]
[282Y006][A,Q]
[404Y014][A,M,Q]
[903Y001][A]
[281Y001][A,Q]
[291Y510][A]
[코드][단위]
[621Y007][A]
[514Y002][Q]
[403Y005][A,M,Q]
[101Y019][A,M,Q]
[200Y146][A,Q]
[403Y002][A,M,Q]
[291Y401][A]
[111Y003][A,M]
[403Y003][A,M,Q]
[621Y001][A]
[271Y016][A]
[902Y016][A]
[112Y002][A,M,Q]
[271Y121][A]
[281Y005][A,Q]
[131Y015][A,Q]
[104Y014][A,M,Q]
[304Y006][A,Q,S]
[732Y001][A,M,Q]
[901Y101][Q]
[501Y076][A]
[901Y098][A,M,Q]
[817Y002][D]
[304Y008][A,Q,S]
[291Y419][A]
[291Y425][A]
[901Y032][A,M,Q]
[291Y525][A]
[901Y107][A,Q]
[271Y074][A]
[501Y030][A]
[903Y002][A]
[291Y509][A]
[901Y083][A,M]
[304Y010][A,Q,S]
[271Y120][A]
[200Y134][Q]
[101Y003][A,M]
[271Y069][A]
[731Y003][D]
[501Y073][A]
[902Y010][A,Q]
[111Y006][A,M,Q]
[902Y022][A,Q]
[501Y056][A]
[901Y053][A,Q]
[311Y005][A,Q]
[502Y003][Q]
[291Y503][A]
[111Y009][A,M,Q]
[200Y148][A,Q]
[503Y004][A]
[151Y005][A,M,Q]
[404Y016][A,M,Q]
[291Y404][A]
[271Y112][A]
[200Y149][A,Q]
[271Y068][A]
[901Y061][A,Q]
[501Y072][A]
[405Y006][A,M,Q]
[304Y004][A,Q,S]
[200Y135][A]
[901Y066][A,M,Q]
[304Y012][A]
[641Y001][A,M,Q]
[903Y211][A]
[402Y016][A,M,Q]
[301Y013][A,M,Q]
[512Y012][M]
[503Y010][A]
[101Y011][A,M,Q]
[151Y006][A,M,Q]
[121Y011][A,M,Q]
[501Y066][A]
[512Y007][M]
[303Y001][A,M,Q,S]
[303Y004][A,M,Q,S]
[621Y021][A]
[404Y017][A,M,Q]
[633Y002][Q]
[901Y092][A,M]
[501Y084][A]
[512Y017][M]
[633Y006][Q]
[200Y102][Q]
[901Y055][A,M]
[511Y001][Q]
[621Y009][A]
[901Y034][A,M,Q]
[901Y019][A,M]
[512Y014][M]
[901Y036][A,M,Q]
[501Y025][A]
[291Y412][A]
[603Y001][A,M,Q]
[271Y011][A]
[901Y094][M]
[281Y007][A,Q]
[291Y406][A]
[903Y212][A]
[200Y140][Q]
[901Y026][M]
[304Y015][A]
[200Y110][A,Q]
[200Y126][A,Q]
[111Y008][A,M,Q]
[511Y004][M]
[131Y016][A,Q]
[901Y063][M]
[304Y005][A,Q,S]
[291Y411][A]
[304Y017][A]
[901Y067][M]
[901Y013][M]
[271Y070][A]
[503Y068][A]
[501Y063][A]
[141Y010][A,M,Q]
[621Y013][A]
[512Y001][M,Q]
[902Y004][A,M]
[501Y033][A]
[902Y002][A,M,Q]
[902Y021][A,M,Q]
[401Y015][A,M,Q]
[503Y029][A]
[621Y002][A]
[271Y114][A]
[903Y201][A]
[200Y153][A]
[901Y052][A,M,Q,S]
[101Y008][A,M,Q]
[104Y009][A,M,Q]
[271Y077][A]
[200Y109][A,Q]
[101Y015][A,M,Q]
[901Y103][M]
[141Y009][A,M,Q]
[501Y001][A]
[511Y003][M]
[901Y068][A]
[621Y011][A]
[291Y409][A]
[311Y002][A]
[501Y013][A]
[200Y131][A,Q]
[103Y002][A,M,Q]
[271Y013][A]
[141Y006][A,M,Q]
[632Y001][A,Q]
[101Y004][A,M,Q]
[501Y002][A]
[200Y143][A,Q]
[141Y002][A,M,Q]
[633Y004][Q]
[251Y001][A]
[121Y002][A,M,Q]
[291Y519][A]
[503Y005][A]
[621Y008][A]
[252Y002][A,Q]
[200Y142][A,Q]
[501Y006][A]
[101Y010][A,M,Q]
[633Y005][Q]
[503Y009][A]
[501Y041][A]
[101Y002][A,M,Q]
[132Y003][A,Q]
[301Y014][A,M,Q]
[291Y421][A]
[104Y008][A,M,Q]
[200Y156][A,Q]
[271Y075][A]
[141Y005][A,M,Q]
[501Y054][A]
[901Y040][A,Q]
[501Y034][A]
[200Y128][Q]
[291Y515][A]
[901Y099][M]
[621Y016][A]
[200Y112][A,Q]
[621Y014][A]
[501Y038][A]
[801Y003][A,M,Q]
[501Y039][A]
[512Y016][M]
[291Y416][A]
[501Y071][A]
[501Y065][A]
[501Y014][A]
[111Y005][A,M,Q]
[621Y017][A]
[101Y006][M]
[901Y059][A,M]
[601Y003][A,M,Q]
[271Y116][A]
[901Y085][A]
[502Y001][Q]
[104Y010][A,M,Q]
[141Y003][A,M,Q]
[200Y122][A]
[901Y038][A,M,Q]
[111Y007][A,M,Q]
[901Y050][A,Q]
[311Y003][A]
[291Y417][A]
[291Y505][A]
[271Y015][A]
[281Y006][A,Q]
[501Y081][A]
[606Y002][A,M,Q]
[633Y003][Q]
[304Y018][A]
[503Y019][A]
[111Y002][A,M,Q]
[271Y008][A]
[200Y105][A,Q]
[802Y001][D]
[901Y009][A,M,Q]
[121Y004][A,M,Q]
[814Y002][SM]
[200Y116][A]
[503Y008][A]
[503Y007][A]
[303Y002][A,M,Q,S]
[503Y002][A]
[291Y405][A]
[501Y010][A]
[191Y001][A,M,Q]
[501Y069][A]
[282Y003][A,Q]
[121Y008][A,M,Q]
[200Y101][A]
[코드][주기]
[901Y105][M]
[104Y015][A,M,Q]
[902Y007][A,M,Q]
[503Y049][A]
[501Y062][A]
[521Y001][D,M]
[271Y111][A]
[291Y512][A]
[501Y044][A]
[200Y159][A]
[901Y086][A]
[901Y057][A,M]
[271Y076][A]
[621Y020][A]
[303Y005][A,M,Q,S]
[132Y001][A,Q]
[271Y010][A]
[901Y056][A,M]
[291Y521][A]
[271Y110][A]
[271Y012][A]

In [71]:
len(found_marks)

593

In [83]:
stats_codes = [i.split('[')[1].split(']')[0] for i in list(found_marks)]

In [107]:
stats_codes

['901Y024',
 '501Y011',
 '801Y002',
 '501Y032',
 '501Y057',
 '501Y015',
 '151Y004',
 '501Y005',
 '131Y014',
 '501Y068',
 '503Y039',
 '501Y077',
 '200Y119',
 '200Y113',
 '401Y018',
 '901Y025',
 '401Y016',
 '903Y204',
 '281Y010',
 '731Y004',
 '200Y154',
 '901Y010',
 '603Y010',
 '251Y003',
 '902Y013',
 '901Y015',
 '511Y002',
 '101Y016',
 '501Y024',
 '902Y014',
 '200Y141',
 '901Y062',
 '131Y017',
 '200Y124',
 '252Y001',
 '291Y504',
 '901Y017',
 '901Y011',
 '200Y120',
 '200Y104',
 '501Y064',
 '901Y075',
 '512Y013',
 '291Y415',
 '501Y019',
 '602Y002',
 '501Y053',
 '282Y002',
 '304Y009',
 '901Y072',
 '291Y410',
 '901Y084',
 '281Y004',
 '131Y010',
 '503Y073',
 '301Y015',
 '501Y079',
 '901Y037',
 '283Y001',
 '200Y155',
 '903Y012',
 '621Y006',
 '200Y139',
 '503Y001',
 '512Y021',
 '304Y023',
 '501Y023',
 '621Y015',
 '501Y040',
 '403Y001',
 '111Y001',
 '304Y021',
 '501Y080',
 '902Y019',
 '901Y020',
 '112Y001',
 '404Y015',
 '621Y018',
 '200Y147',
 '901Y069',
 '291Y522',
 '502Y004',
 '291Y513',
 '501Y086',
 '304Y022',
 '200Y145',
 '501Y031',
 '901Y039',
 '291Y420',
 '271Y073',
 '501Y043',
 '101Y017',
 '903Y004',
 '621Y010',
 '200Y123',
 '503Y003',
 '722Y001',
 '501Y051',
 '901Y106',
 '141Y007',
 '291Y524',
 '200Y157',
 '901Y016',
 '512Y019',
 '501Y027',
 '141Y008',
 '903Y006',
 '200Y114',
 '282Y005',
 '304Y019',
 '301Y017',
 '291Y517',
 '901Y060',
 '903Y011',
 '501Y049',
 '271Y017',
 '311Y006',
 '291Y523',
 '281Y012',
 '501Y060',
 '731Y006',
 '901Y108',
 '501Y017',
 '303Y003',
 '291Y413',
 '902Y005',
 '121Y007',
 '514Y001',
 '501Y028',
 '291Y516',
 '501Y009',
 '602Y001',
 '501Y070',
 '200Y103',
 '512Y002',
 '605Y012',
 '902Y008',
 '902Y020',
 '621Y003',
 '101Y014',
 '282Y004',
 '901Y104',
 '901Y089',
 '101Y018',
 '901Y033',
 '291Y501',
 '291Y508',
 '501Y083',
 '291Y423',
 '901Y100',
 '200Y115',
 '101Y007',
 '271Y009',
 '104Y017',
 '503Y063',
 '512Y011',
 '601Y002',
 '304Y014',
 '621Y022',
 '501Y042',
 '200Y152',
 '101Y009',
 '731Y001',
 '501Y036',
 '151Y003',
 '631Y001',
 '291Y514',
 '291Y414',
 '902Y012',
 '271Y014',
 '271Y115',
 '901Y073',
 '503Y024',
 '901Y093',
 '151Y001',
 '281Y009',
 '621Y012',
 '903Y203',
 '200Y125',
 '271Y122',
 '271Y071',
 '901Y112',
 '621Y019',
 '200Y127',
 '200Y137',
 '503Y034',
 '512Y008',
 '403Y004',
 '501Y074',
 '291Y422',
 '304Y013',
 '291Y424',
 '501Y021',
 '902Y011',
 '200Y117',
 '901Y027',
 '901Y071',
 '501Y037',
 '291Y506',
 '151Y002',
 '200Y144',
 '501Y067',
 '512Y020',
 '200Y108',
 '304Y016',
 '501Y052',
 '901Y058',
 '902Y018',
 '200Y111',
 '291Y511',
 '291Y402',
 '513Y001',
 '402Y014',
 '304Y007',
 '200Y136',
 '301Y016',
 '121Y006',
 '281Y011',
 '101Y001',
 '141Y004',
 '271Y072',
 '501Y035',
 '901Y097',
 '903Y209',
 '903Y210',
 '291Y518',
 '503Y006',
 '903Y010',
 '901Y028',
 '200Y132',
 '901Y070',
 '901Y102',
 '291Y507',
 '311Y001',
 '902Y015',
 '200Y151',
 '281Y002',
 '401Y017',
 '121Y010',
 '501Y022',
 '903Y009',
 '501Y003',
 '512Y018',
 '902Y017',
 '200Y106',
 '105Y001',
 '502Y002',
 '200Y138',
 '501Y055',
 '501Y020',
 '271Y124',
 '901Y095',
 '621Y023',
 '251Y002',
 '200Y158',
 '501Y078',
 '200Y130',
 '501Y026',
 '503Y056',
 '621Y005',
 '291Y408',
 '902Y009',
 '902Y003',
 '304Y020',
 '121Y013',
 '902Y006',
 '104Y016',
 '901Y088',
 '903Y202',
 '303Y006',
 '104Y013',
 '101Y005',
 '304Y011',
 '501Y007',
 '902Y023',
 '604Y003',
 '814Y001',
 '121Y015',
 '501Y075',
 '271Y123',
 '901Y054',
 '501Y058',
 '871Y001',
 '200Y107',
 '131Y018',
 '200Y118',
 '501Y050',
 '621Y004',
 '633Y001',
 '291Y502',
 '901Y012',
 '131Y011',
 '200Y133',
 '501Y059',
 '271Y113',
 '291Y520',
 '405Y007',
 '512Y015',
 '282Y001',
 '901Y074',
 '731Y002',
 '901Y096',
 '501Y008',
 '200Y121',
 '311Y004',
 '200Y129',
 '501Y082',
 '901Y035',
 '131Y013',
 '271Y125',
 '514Y003',
 '903Y206',
 '291Y407',
 '271Y126',
 '501Y061',
 '402Y015',
 '901Y018',
 '291Y418',
 '501Y004',
 '721Y001',
 '731Y005',
 '501Y018',
 '111Y004',
 '901Y081',
 '501Y029',
 '901Y064',
 '901Y014',
 '291Y403',
 '903Y003',
 '282Y006',
 '404Y014',
 '903Y001',
 '281Y001',
 '291Y510',
 '코드',
 '621Y007',
 '514Y002',
 '403Y005',
 '101Y019',
 '200Y146',
 '403Y002',
 '291Y401',
 '111Y003',
 '403Y003',
 '621Y001',
 '271Y016',
 '902Y016',
 '112Y002',
 '271Y121',
 '281Y005',
 '131Y015',
 '104Y014',
 '304Y006',
 '732Y001',
 '901Y101',
 '501Y076',
 '901Y098',
 '817Y002',
 '304Y008',
 '291Y419',
 '291Y425',
 '901Y032',
 '291Y525',
 '901Y107',
 '271Y074',
 '501Y030',
 '903Y002',
 '291Y509',
 '901Y083',
 '304Y010',
 '271Y120',
 '200Y134',
 '101Y003',
 '271Y069',
 '731Y003',
 '501Y073',
 '902Y010',
 '111Y006',
 '902Y022',
 '501Y056',
 '901Y053',
 '311Y005',
 '502Y003',
 '291Y503',
 '111Y009',
 '200Y148',
 '503Y004',
 '151Y005',
 '404Y016',
 '291Y404',
 '271Y112',
 '200Y149',
 '271Y068',
 '901Y061',
 '501Y072',
 '405Y006',
 '304Y004',
 '200Y135',
 '901Y066',
 '304Y012',
 '641Y001',
 '903Y211',
 '402Y016',
 '301Y013',
 '512Y012',
 '503Y010',
 '101Y011',
 '151Y006',
 '121Y011',
 '501Y066',
 '512Y007',
 '303Y001',
 '303Y004',
 '621Y021',
 '404Y017',
 '633Y002',
 '901Y092',
 '501Y084',
 '512Y017',
 '633Y006',
 '200Y102',
 '901Y055',
 '511Y001',
 '621Y009',
 '901Y034',
 '901Y019',
 '512Y014',
 '901Y036',
 '501Y025',
 '291Y412',
 '603Y001',
 '271Y011',
 '901Y094',
 '281Y007',
 '291Y406',
 '903Y212',
 '200Y140',
 '901Y026',
 '304Y015',
 '200Y110',
 '200Y126',
 '111Y008',
 '511Y004',
 '131Y016',
 '901Y063',
 '304Y005',
 '291Y411',
 '304Y017',
 '901Y067',
 '901Y013',
 '271Y070',
 '503Y068',
 '501Y063',
 '141Y010',
 '621Y013',
 '512Y001',
 '902Y004',
 '501Y033',
 '902Y002',
 '902Y021',
 '401Y015',
 '503Y029',
 '621Y002',
 '271Y114',
 '903Y201',
 '200Y153',
 '901Y052',
 '101Y008',
 '104Y009',
 '271Y077',
 '200Y109',
 '101Y015',
 '901Y103',
 '141Y009',
 '501Y001',
 '511Y003',
 '901Y068',
 '621Y011',
 '291Y409',
 '311Y002',
 '501Y013',
 '200Y131',
 '103Y002',
 '271Y013',
 '141Y006',
 '632Y001',
 '101Y004',
 '501Y002',
 '200Y143',
 '141Y002',
 '633Y004',
 '251Y001',
 '121Y002',
 '291Y519',
 '503Y005',
 '621Y008',
 '252Y002',
 '200Y142',
 '501Y006',
 '101Y010',
 '633Y005',
 '503Y009',
 '501Y041',
 '101Y002',
 '132Y003',
 '301Y014',
 '291Y421',
 '104Y008',
 '200Y156',
 '271Y075',
 '141Y005',
 '501Y054',
 '901Y040',
 '501Y034',
 '200Y128',
 '291Y515',
 '901Y099',
 '621Y016',
 '200Y112',
 '621Y014',
 '501Y038',
 '801Y003',
 '501Y039',
 '512Y016',
 '291Y416',
 '501Y071',
 '501Y065',
 '501Y014',
 '111Y005',
 '621Y017',
 '101Y006',
 '901Y059',
 '601Y003',
 '271Y116',
 '901Y085',
 '502Y001',
 '104Y010',
 '141Y003',
 '200Y122',
 '901Y038',
 '111Y007',
 '901Y050',
 '311Y003',
 '291Y417',
 '291Y505',
 '271Y015',
 '281Y006',
 '501Y081',
 '606Y002',
 '633Y003',
 '304Y018',
 '503Y019',
 '111Y002',
 '271Y008',
 '200Y105',
 '802Y001',
 '901Y009',
 '121Y004',
 '814Y002',
 '200Y116',
 '503Y008',
 '503Y007',
 '303Y002',
 '503Y002',
 '291Y405',
 '501Y010',
 '191Y001',
 '501Y069',
 '282Y003',
 '121Y008',
 '200Y101',
 '코드',
 '901Y105',
 '104Y015',
 '902Y007',
 '503Y049',
 '501Y062',
 '521Y001',
 '271Y111',
 '291Y512',
 '501Y044',
 '200Y159',
 '901Y086',
 '901Y057',
 '271Y076',
 '621Y020',
 '303Y005',
 '132Y001',
 '271Y010',
 '901Y056',
 '291Y521',
 '271Y110',
 '271Y012']

In [108]:
import pickle

with open("stats_codes.pkl","wb") as f:
    pickle.dump(stats_codes, f)

with open("stats_codes.pkl","rb") as f:
    stats_codes_load = pickle.load(f)

## 통계 세부 지표 수집

### Test code 하나에 대한 세부 지표 수집

In [88]:
url = 'https://ecos.bok.or.kr/api/StatisticItemList/{}/json/kr/1/10/{}'.format(api_key,stats_codes[0])

In [111]:
# API 호출
response = requests.get(url)

# 응답 데이터 확인
if response.status_code == 200:
    data = response.json()  # JSON 데이터를 Python 딕셔너리로 변환
    print(data)
else:
    print(f"Error: {response.status_code}, {response.text}")

temp_df = pd.DataFrame(data['StatisticItemList']['row'])

{'RESULT': {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}}

KeyError: 'StatisticItemList'

In [90]:
temp_df

,STAT_CODE,STAT_NAME,GRP_CODE,GRP_NAME,ITEM_CODE,ITEM_NAME,P_ITEM_CODE,P_ITEM_NAME,CYCLE,START_TIME,END_TIME,DATA_CNT,UNIT_NAME,WEIGHT
0,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64A,소득,None,None,A,2003,2023,21,천원,None
1,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AA,농가순소득,I64A,소득,A,2003,2023,21,천원,None
2,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AAA,농업소득,I64AA,농가순소득,A,2003,2023,21,천원,None
3,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AAB,농외소득,I64AA,농가순소득,A,2003,2023,21,천원,None
4,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AB,이전소득,I64A,소득,A,2003,2023,21,천원,None
5,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AC,비경상소득,I64A,소득,A,2003,2023,21,천원,None
6,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64B,지출,None,None,A,2003,2023,21,천원,None
7,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64BA,소비지출,I64B,지출,A,2003,2023,21,천원,None
8,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64BAA,식료품및비주류음료,I64BA,소비지출,A,2009,2023,15,천원,None
9,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64BAB,주류및담배,I64BA,소비지출,A,2009,2023,15,천원,None

### 전체 통계 세부 지표

In [113]:
len(stats_codes)

593

- 1분에 100번 호출 가능

In [118]:
stats_list = []
idx_no = 0
for stats_code in stats_codes:
    # url 지정
    url = 'https://ecos.bok.or.kr/api/StatisticItemList/{}/json/kr/1/10/{}'.format(api_key,stats_code)
    
    # API 호출
    response = requests.get(url)
    
    # 응답 데이터 확인
    if response.status_code == 200:
        data = response.json()  # JSON 데이터를 Python 딕셔너리로 변환
    else:
        print(f"Error: {response.status_code}, {response.text}")
    
    idx_no += 1
    if idx_no % 100 == 0:
        print(idx_no, len(stats_list))
        time.sleep(60)

    try : stats_list = stats_list + data['StatisticItemList']['row']
    except : pass

100 941
200 1901
300 2873
400 3841
500 4781

In [120]:
stats_df = pd.DataFrame(stats_list)

In [122]:
stats_df.head(3)

,STAT_CODE,STAT_NAME,GRP_CODE,GRP_NAME,ITEM_CODE,ITEM_NAME,P_ITEM_CODE,P_ITEM_NAME,CYCLE,START_TIME,END_TIME,DATA_CNT,UNIT_NAME,WEIGHT
0,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64A,소득,None,None,A,2003,2023,21,천원,None
1,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AA,농가순소득,I64A,소득,A,2003,2023,21,천원,None
2,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AAA,농업소득,I64AA,농가순소득,A,2003,2023,21,천원,None

In [123]:
with open("stats_df.pkl","wb") as f:
    pickle.dump(stats_df, f)

with open("stats_df.pkl","rb") as f:
    stats_df_load = pickle.load(f)

In [124]:
stats_df_load.head(3)

,STAT_CODE,STAT_NAME,GRP_CODE,GRP_NAME,ITEM_CODE,ITEM_NAME,P_ITEM_CODE,P_ITEM_NAME,CYCLE,START_TIME,END_TIME,DATA_CNT,UNIT_NAME,WEIGHT
0,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64A,소득,None,None,A,2003,2023,21,천원,None
1,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AA,농가순소득,I64A,소득,A,2003,2023,21,천원,None
2,901Y024,8.7.6. 농가가계수지,Group1,계정항목,I64AAA,농업소득,I64AA,농가순소득,A,2003,2023,21,천원,None