In [1]:
from ecosloader import api_client

/Users/jaeminiman/anaconda3/envs/pytorch/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

#### Client 테스트

In [2]:
api_key = 'HLOXWJTZRBR3KCAG5JU3'
client = api_client(api_key)

In [3]:
client.check_api_key()

Valid API key: HLOXWJTZRBR3KCAG5JU3

In [4]:
client.set_output_type('xls')

AssertionError: Output type should be "xml" or "json"

In [5]:
client.set_output_type('json')

Set output type: json

In [6]:
client.set_language('kr')

Language set to: kr

#### KOSPI 지수 불러오기

- index_no 5310

In [7]:
client.stats_codes.load_stats_code(path='https://github.com/jmlee8939/macrowave_investing/raw/refs/heads/main/data/stats_df.csv')

In [8]:
client.stats_codes.search_stats_code('주식시장')

,STAT_CODE,STAT_NAME,GRP_CODE,GRP_NAME,ITEM_CODE,ITEM_NAME,P_ITEM_CODE,P_ITEM_NAME,CYCLE,START_TIME,END_TIME,DATA_CNT,UNIT_NAME,WEIGHT
3142,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1010000,KOSPI_회사수,1000000,KOSPI 계열,A,1984,2023,40,사,NaN
3143,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1010000,KOSPI_회사수,1000000,KOSPI 계열,M,200501,202411,239,사,NaN
3144,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1020000,KOSPI_종목수,1000000,KOSPI 계열,A,1984,2023,40,종목,NaN
3145,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1020000,KOSPI_종목수,1000000,KOSPI 계열,M,200501,202411,239,종목,NaN
3146,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1030000,KOSPI_상장주식수,1000000,KOSPI 계열,A,1984,2023,40,주,NaN
3147,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1030000,KOSPI_상장주식수,1000000,KOSPI 계열,M,200501,202411,239,주,NaN
3148,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1040000,KOSPI_시가총액,1000000,KOSPI 계열,A,1984,2023,40,천원,NaN
3149,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1040000,KOSPI_시가총액,1000000,KOSPI 계열,M,200501,202411,239,천원,NaN
3150,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1050000,KOSPI_거래량,1000000,KOSPI 계열,A,1984,2023,40,주,NaN
3151,901Y014,"1.5.1.2. 주식시장(월,년)",Group1,계정항목,1050000,KOSPI_거래량,1000000,KOSPI 계열,M,200501,202411,239,주,NaN
5310,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0001000,KOSPI지수,NaN,NaN,D,19950103,20250106,7604,1980.01.04=100,NaN
5311,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0002000,"거래량(주식시장, 잠정치)",0001000,KOSPI지수,D,20030102,20250106,5435,만주,NaN
5312,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0003000,"거래대금(주식시장 , 잠정치)",0001000,KOSPI지수,D,20030102,20250106,5435,억원,NaN
5313,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0030000,"외국인 순매수(주식시장, 잠정치)",0001000,KOSPI지수,D,20030102,20250106,5439,억원,NaN
5314,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0087000,"주식시장-거래량(만주, 시간외거래분 포함)",0001000,KOSPI지수,D,19950103,20250103,7635,만주,NaN
5315,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0088000,"주식시장-거래대금(억원, 시간외거래분 포함)",0001000,KOSPI지수,D,19950103,20250103,7635,억원,NaN
5316,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0089000,KOSDAQ지수,NaN,NaN,D,20030102,20250106,5439,1996.07.01=1000,NaN
5317,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0090000,"거래량(만주 : 코스닥시장, 잠정치)",0089000,KOSDAQ지수,D,20030102,20250106,5439,만주,NaN
5318,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0091000,"거래대금(억원 : 코스닥시장, 잠정치)",0089000,KOSDAQ지수,D,20030102,20250106,5439,억원,NaN
5319,802Y001,1.5.1.1. 주식시장(일),Group1,계정항목,0113000,"외국인 순매수(코스닥시장, 잠정치)",0089000,KOSDAQ지수,D,20030102,20250106,5439,억원,NaN

In [9]:
client.stats_codes.stats_codes_info.loc[5310]

STAT_CODE               802Y001
STAT_NAME      1.5.1.1. 주식시장(일)
GRP_CODE                 Group1
GRP_NAME                   계정항목
ITEM_CODE               0001000
ITEM_NAME               KOSPI지수
P_ITEM_CODE                 NaN
P_ITEM_NAME                 NaN
CYCLE                         D
START_TIME             19950103
END_TIME               20250106
DATA_CNT                   7604
UNIT_NAME       1980.01.04=100
WEIGHT                      NaN
Name: 5310, dtype: object

In [10]:
client.stat_search(stat_code='802Y001', first=1, end=7604, interval='D', starttime='19950103', endtime='20250106', subcode1='0001000')

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,WGT,TIME,DATA_VALUE
0,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950103,1013.57
1,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950104,997.01
2,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950105,976.06
3,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950106,975.32
4,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950107,988.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7599,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20241227,2404.77
7600,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20241230,2399.49
7601,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20250102,2398.94
7602,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20250103,2441.92
7603,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20250106,2488.64

In [11]:
client.todays_100_stat()

    CLASS_NAME   KEYSTAT_NAME DATA_VALUE     CYCLE   UNIT_NAME
0         시장금리      한국은행 기준금리          3  20250116          %
1         시장금리       콜금리(익일물)      3.071  20250116          %
2         시장금리   KORIBOR(3개월)       3.06  20250117          %
3         시장금리     CD수익률(91일)       2.99  20250117          %
4         시장금리  통안증권수익률(364일)      2.606  20250117          %
..         ...            ...        ...       ...         ...
96      부동산 가격       주택매매가격지수       96.4    202411  2021.6=100
97      부동산 가격       주택전세가격지수       93.7    202411  2021.6=100
98      부동산 가격    지가변동률(전기대비)      0.188    202411          %
99     국제원자재가격      Duba유(현물)         74    202412       달러/배럴
100    국제원자재가격              금    2640.61    202412         달러

[101 rows x 5 columns]

In [12]:
client.stat_search_index(5310)

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,WGT,TIME,DATA_VALUE
0,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950103,1013.57
1,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950104,997.01
2,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950105,976.06
3,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950106,975.32
4,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,19950107,988.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7599,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20241227,2404.77
7600,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20241230,2399.49
7601,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20250102,2398.94
7602,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20250103,2441.92
7603,802Y001,1.5.1.1. 주식시장(일),0001000,KOSPI지수,None,None,None,None,None,None,1980.01.04=100,None,20250106,2488.64

In [13]:
client.stats_codes.update_stats_code(api_key)

통계 코드 총 593 개 확인

Processing stats codes:  17%|█▋        | 99/593 [00:35<01:22,  6.02it/s]

100 948

Processing stats codes:  34%|███▎      | 199/593 [02:08<01:24,  4.64it/s]

200 1901

Processing stats codes:  50%|█████     | 299/593 [04:07<07:03,  1.44s/it]

300 2877

Processing stats codes:  67%|██████▋   | 399/593 [06:05<00:53,  3.62it/s]

400 3841

Processing stats codes:  84%|████████▍ | 499/593 [07:40<00:37,  2.48it/s]

500 4775

Processing stats codes: 100%|██████████| 593/593 [09:34<00:00,  1.03it/s]